.tree, .main-tree{
    margin: 0;
    text-align: left;
    color: white;
    
    margin-left : 40px;
}

.tree-title.active:before{
    content: "\f07c" !important;
    color: white;
    
}

.tree-title:before{
    content: "\f07b";
    font-family: FontAwesome;
    margin-left: -20px; 
    display: inline-block;
    width: 20px;
    color: white;
}

.tree-title{
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 0px;
    margin-left: -10px;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    color: white;
}

.tree-item:before{
    content: "\f15b";
    font-family: FontAwesome;
    margin-left: -20px;
    font-size: 12px;
    display: inline-block;
    width: 20px;
    color: white;
}

.tree-item:hover, .tree-title:hover{
    opacity: 0.6;
    color: white;
}

.tree-item{
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    cursor: pointer;
    list-style-type: none;
    margin-left: 20px;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    padding-left: 10px;
    color: white;
}