.unos_select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    /*color : white;*/
    /*background: #fff;*/
    background: rgba(0,0,0,0);
    z-index: 1;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unos_select:focus {
    outline: none; /* For better accessibility add a style for this in your skin */
}

.unos_select select {
    display: none;
}

.unos_select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Placeholder and selected option */
.unos_select > span {
    padding-right: 3em;
}

.unos_select > span::after,
.unos_select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.unos_select > span::after {
    content: '\25BE';
    right: 1em;
}

.unos_select .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
}

.unos_select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.cs-active {
    z-index: 200;
}

/* Options */
.unos_select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    /*background: #fff;*/
    /*background: rgba(255,255,255,0.9);*/
    background: rgba(0,0,0,0.5);
    visibility: hidden;
}

.unos_select.cs-active .cs-options {
    visibility: visible;
}

.unos_select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.unos_select ul span {
    padding: 1em;
}

.unos_select ul li.cs-focus span {
    background-color: #ddd;
}

/* Optgroup and optgroup label */
.unos_select li.cs-optgroup ul {
    padding-left: 1em;
}

.unos_select li.cs-optgroup > span {
    cursor: default;
}

@font-face {
    font-family: 'icomoon';
    src:url('/assets/fonts/icomoon/icomoon.eot?-rdnm34');
    src:url('/assets/fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
    url('/assets/fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
    url('/assets/fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
    url('/assets/fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.unos_select {
    background: transparent;
}

@media screen and (max-width: 30em) {
    unos_select { font-size: 1.2em; }
}

.unos_select > span {
    padding: 0.5em 3em 0.5em 0.5em;
    font-weight: bold;
}

.unos_select > span::after {
    font-family: 'icomoon';
    content: '\e003';
    color : #D70000;
    right: 0.25em;
    -webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,45deg);
    transform: translate3d(0,-50%,0) rotate3d(0,0,1,45deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.unos_select.cs-active > span::after {
    -webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
    transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
}

.unos_select .cs-options {
    /*background: rgba(0,0,0,0);*/
    /*background: black;*/
    /*color : #ffffff;*/
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
    transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.unos_select.cs-active .cs-options {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.unos_select ul span {
    position: relative;
    /* text-transform: uppercase; */
    font-size: 66%;
    font-weight: 700;
    letter-spacing: 1px;
    /* padding: 1.2em 0.8em; */
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.unos_select ul span::after {
    content: '';
    opacity: 0;
}

.unos_select .cs-selected span::after {
    font-family: 'icomoon';
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.7s;
    transition: opacity 0.3s 0.7s;
}

.unos_select ul span::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #D70000;
    -webkit-transform: translate3d(200%,0,0);
    transform: translate3d(200%,0,0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.unos_select.cs-active ul span,
.unos_select.cs-active ul span::before {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.unos_select li:nth-child(5) span,
.unos_select li:nth-child(5) span::before,
.unos_select.cs-active li:first-child span,
.unos_select.cs-active li:first-child span::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.unos_select li:nth-child(4) span,
.unos_select li:nth-child(4) span::before,
.unos_select.cs-active li:nth-child(2) span,
.unos_select.cs-active li:nth-child(2) span::before {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.unos_select li:nth-child(3) span,
.unos_select li:nth-child(3) span::before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.unos_select li:nth-child(2) span,
.unos_select li:nth-child(2) span::before,
.unos_select.cs-active li:nth-child(4) span,
.unos_select.cs-active li:nth-child(4) span::before {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.unos_select li:first-child span,
.unos_select li:first-child span::before,
.unos_select.cs-active li:nth-child(5) span,
.unos_select.cs-active li:nth-child(5) span::before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
} /* more items require more delay declarations */

.unos_select .cs-options li span:hover,
.unos_select .cs-options li.cs-focus span,
.unos_select li.cs-selected span {
    color: #ffffff;
    background: #D70000;
}